<!DOCTYPE html>
<html>
<head>
	<title>MyHomeRules!</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
   {{{body}}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
 	<script src="script/script.js"></script>
</body>
</html>
