<a class="btn" href="/logout">Logout</a>
<a class="btn" href="/logout">Create new event</a>

<h4> Event Board </h4>
  <div class="row">
    {{#each events}}
       <div class="col s12 m3">
         <div class="card grey">
           <h5>Event: {{this.name}}</h5>
           <p> About:{{this.disc}}</p>
         </div>
       </div>
    {{/each}}
   </div>
