<h4> Event Board </h4>
  <div class="row">
    {{#each events}}
       <div class="col s12 m3">
         <div class="card grey">
           {{this.organizer}}
         </div>
       </div>
    {{/each}}
     </div>
