<div class="login-page">
  <div class="wrapper small">
  <h3 class="logo"> ShareIn </h3>
  <h5> Login </h5>
  <form method="post" action="/users/login">
      <div>
          <label>Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>
<div style="margin-top:50px;">
    <a class="option" href="/users/signup">Sing up</a>
</div>

  </div>
</div>
