<div class="wrapper small">
  <h3 class="logo"> ShareIn </h3>
<h3> Login </h3>
<form method="post" action="/users/login">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
<a href="/users/signup">Sing up</a>
</div>
